.product-media {
  background-color: #fbfbfb;
  position: relative;
}

.product-price {
  margin-top: 10px;
}

.cart-hover-menu {
  position: absolute;
  bottom: 12px;
  left: 70px;
  margin: 0 auto;
  width: 52%;
}

.cart-hover-content {
  display: flex;
  justify-content: space-around;
  visibility: hidden;
  transition: 0.4s ease;
}

.cart-hover-menu img {
  cursor: pointer;
}

.product-media:hover .cart-hover-content {
  visibility: visible;
}
.product-box {
  cursor: pointer;
}
