.category-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 16px;
  color: var(--blackish-color);
}

.product-section {
  margin-top: 40px;
  min-height: 200vh;
}

.category-filter {
  background: #fbfbfb;
}

.product-category-item h6 {
  font-weight: 400;
  font-size: 15px;
  line-height: 40px;
  /* or 267% */

  color: var(--blackish-color);
}

.filter-btn {
  background-color: var(--primary-color);
  color: #fff;
  width: 40%;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.price-range p {
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
}
.price-range span {
  color: var(--primary-color);
  font-weight: 700;
}

.all-products-section a {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  text-decoration: none;
  color: var(--blackish-color);
  margin-right: 37px;
}

.filter-form-select {
  border: none !important;
  font-weight: 400;
  font-size: 15px !important;
  line-height: 16px !important;
  color: var(--blackish-color) !important;
  padding: 0px 40px 0px 0px !important;
  width: 151px !important;
}

.short-by {
  font-size: 15px;
  line-height: 16px;
  color: var(--blackish-color);
}

.product-title {
  font-size: 16px;
  line-height: 16px;

  color: var(--blackish-color);
}
.product-price {
  font-weight: 700;
  font-size: 18px;
  line-height: 16px;

  color: var(--primary-color);
}

.pagination .page-item {
  margin-right: 10px;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  border-radius: 4px;
}

.page-item .page-link {
  height: 35px;
  width: 35px;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  color: var(--blackish-color);
  padding: 3px 0.75rem !important;
}

.plants-container {
  height: 250px;
  background: #fbfbfb;
}

.findPlants-title {
  font-weight: 700;
  font-size: 23px;
  line-height: 22px;

  color: var(--blackish-color);
}

.findPlants-subTitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: var(--subtitle-color);
}

.findBtn {
  background-color: var(--primary-color);
  color: #fff;
  width: 50%;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
}

.find-plants-row {
  margin-top: 146px;
}
