.product-section .category-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 16px;
  color: var(--blackish-color);
}

.product-section {
  margin-top: 40px;
}

.product-section .category-filter {
  background: #fbfbfb;
}

.product-section .product-category-item h6 {
  font-weight: 400;
  font-size: 15px;
  line-height: 40px;
  /* or 267% */

  color: var(--blackish-color);
}

.product-section .filter-btn {
  background-color: var(--primary-color);
  color: #fff;
  width: 40%;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.product-section .price-range p {
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  margin: 11px 0;
}
.product-section .price-range span {
  color: var(--primary-color);
  font-weight: 700;
}

.all-products-section a {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  text-decoration: none;
  color: var(--blackish-color);
  margin-right: 37px;
}

.product-section .filter-form-select {
  border: none !important;
  font-weight: 400;
  font-size: 15px !important;
  line-height: 16px !important;
  color: var(--blackish-color) !important;
  padding: 0px 40px 0px 0px !important;
  width: 151px !important;
}

.product-section .short-by {
  font-size: 15px;
  line-height: 16px;
  color: var(--blackish-color);
}

.product-section .product-title {
  font-size: 16px;
  line-height: 16px;

  color: var(--blackish-color);
}
.product-section .product-price {
  font-weight: 700;
  font-size: 18px;
  line-height: 16px;

  color: var(--primary-color);
}

.product-section .pagination .page-item {
  margin-right: 10px;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  border-radius: 4px;
}

.product-section .pagination .page-item:last-child {
  margin-right: 0px;
}

.product-section .page-item .page-link {
  height: 35px;
  width: 35px;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  color: var(--blackish-color);
  padding: 3px 0.75rem !important;
}

.product-section .plants-container {
  height: 250px;
  background: #fbfbfb;
}

.product-section .findPlants-title {
  font-weight: 700;
  font-size: 23px;
  line-height: 22px;

  color: var(--blackish-color);
}

.product-section .findPlants-subTitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: var(--subtitle-color);
  margin: 5px 0 15px 0;
}

.product-section .findBtn {
  background-color: var(--primary-color);
  color: #fff;
  width: 50%;
  line-height: 20px;
  width: 50%;
  height: 20%;
  font-size: 16px;
  font-weight: 400;
}

.product-section .find-plants-row {
  margin-top: 146px;
}

@media screen and (max-width: 480px) {
  .hero-title {
    font-size: 24px;
    line-height: 29px;
  }

  .cmn-btn {
    width: 32%;
    height: 20%;
  }

  .hero-title {
    margin: 8px 0;
  }

  .all-products-section a {
    margin: 0 9px;
  }

  .findPlants-subTitle {
    margin: 10px 0;
  }
  .findBtn {
    width: 50%;
  }
  .findPlants-title {
    font-size: 21px;
  }

  .sortBySide {
    display: none !important;
  }
  .allProduct-nav {
    justify-content: center;
  }
}

@media screen and (min-width: 481px) and (max-width: 767px) {
  .sortBySide {
    display: none !important;
  }
  .allProduct-nav {
    justify-content: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .sortBySide {
    display: none !important;
  }
  .allProduct-nav {
    justify-content: center;
  }
  .plants-container img {
    display: none;
  }
  .findBtn {
    width: 47%;
  }
  .cmn-btn {
    height: 13%;
  }
  .price-range p {
    margin: 11px 0;
  }
}

@media screen and (min-width: 992px) and (max-width: 1024px) {
  .plants-container img {
    display: none;
  }

  .cmn-btn {
    height: 9%;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1200px) {
  .findBtn {
    width: 50%;
  }
}
