.related-product-section .title {
  color: var(--blackish-color);
  font-weight: 400;
  font-size: 15px;
}

.related-product-section .price {
  font-weight: 700;
  font-size: 16px;
  color: var(--primary-color);
}

.related-product-section .section-title {
  font-weight: 700;
  font-size: 17px;

  color: var(--primary-color);
}

.related-product-section hr {
  margin: 8px 0 44px 0;
  color: gray;
}

.related-product-section {
  overflow-x: hidden;
}

.related-product-section .single-slide {
  padding: 0 10px;
}

.related-product-section .slick-list {
  margin: 0 -10px;
}

.related-product .product-media .productImg {
  height: 200px;
}
