footer {
  margin-top: 113px;
  min-height: 100vh;
}
.newsletter-section {
  background: #fbfbfb;
}
.newsletter-post-title {
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: var(--blackish-color);
}
.newsletter-post-des {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;

  color: var(--blackish-color);
}

.newsletter-media {
  padding: 15px 0px;
}
