footer {
  margin-top: 113px;
}
.company-title {
  color: var(--primary-color) !important;
  font-weight: 700;
  font-size: 1.25rem;
  margin-left: 5px;
}
.newsletter-section {
  background: #fbfbfb;
  padding: 24px 10px;
}
.newsletter-post-title {
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: var(--blackish-color);
}
.newsletter-post-des {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;

  color: var(--blackish-color);
}

.newsletter-media {
  padding: 15px 0px;
}

.newsletter-subscribe-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 19px;
  margin-bottom: 17px;
  color: var(--blackish-color);
}

.newsletter-subscribe-des {
  font-weight: 400;
  font-size: 13px;
  line-height: 22px;
  /* or 169% */

  color: var(--subtitle-color);
}

.newsletter-subscribe-btn {
  background: var(--primary-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 16px;

  color: #ffffff;
  border-radius: 0px 6px 6px 0px;
}

.newsletter-subscribe-btn:hover {
  color: #ffffff;
}

.subscribe-input-group {
  margin-bottom: 18px;
}

/* contact section */

.contact-section {
  background: rgba(70, 163, 88, 0.1);
  padding: 24px 10px;
  border-top: 1px solid rgba(70, 163, 88, 0.2);
}

.contact-section p {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  /* or 157% */

  color: var(--blackish-color);
}

/* main footer */

.main-footer {
  padding: 24px 10px;

  background: #fbfbfb;
  border-top: 1px solid rgba(70, 163, 88, 0.2);
  border-bottom: 1px solid rgba(70, 163, 88, 0.2);
}

.main-footer h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 16px;
  margin-bottom: 20px;
  color: var(--blackish-color);
}

.main-footer ul {
  padding-left: 0px;
}

.main-footer ul li {
  list-style: none;
}

.main-footer ul li a {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-decoration: none;
  color: var(--blackish-color);
}

.social-icon {
  border: 1px solid rgba(70, 163, 88, 0.2);
  border-radius: 4px;
  padding: 7px 11px;
  margin-right: 10px;
  cursor: pointer;
}
.social-icon img {
  height: 16px;
  width: 16px;
  background-size: cover;
  object-fit: none;
}

.we-accept {
  font-weight: 700;
  font-size: 18px;
  line-height: 16px;
  margin-top: 33px;
  color: var(--blackish-color);
}

.copy-right p {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;

  color: #3d3d3d;
}

@media screen and (max-width: 480px) {
  .footer {
    margin-top: 0px;
  }
}
